body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.step-container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}
.about-section {
  float: left;
  width: 100%;
  margin: 20px 0;
  text-align: center;
}
.about-section h2 {
  font-size: 21px;
  letter-spacing: 0.2px;
}
.step-form {
  float: left;
  width: 100%;
}
.step-form ol.progtrckr {
  text-align: center;
}
ol.progtrckr li.progtrckr-doing:before {
  background-color: #e6b3f1;
}
ol.progtrckr li:before {
  bottom: -3.9rem;
}
ol.progtrckr li.progtrckr-doing {
  border-bottom: 4px solid #e6b3f1;
} 
ol.progtrckr li.progtrckr-done:before {
  background-color: #e592f6;
}
ol.progtrckr li.progtrckr-done {
  border-bottom: 4px solid #e592f6;
}
ol.progtrckr li.progtrckr-doing:hover:before {
  color: #ffffff;
}
ol.progtrckr li.progtrckr-done:hover:before {
  color: #ffffff;
}
ol.progtrckr li.progtrckr-todo:hover:before {
  color: silver;
}
.step-form h1 {
  text-align: center;
  font-size: 20px;
  margin-bottom: 25px;
  float: left;
  width: 100%;
}
.step-form label {
  font-weight: 400;
  font-size: 11px;
  margin-bottom: 4px;
  color: #000;
}
.step-form .six.columns {
  margin-bottom: 14px;
}
.step-form input.u-full-width {
  font-size: 14px;
}